
@{
    ViewData["Title"] = "Login";
}

<h1>Login Page</h1>

<form action="/User/Login" method="post">
    <input type="text" name="username" value="" />
    <input type="password" name="password" value="" />
    <button type="submit">Login</button>
</form>